*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 1440px;
    margin: auto;
}

h1{
    color: #686de0;
  } 
  .container{
    height: 1000px;
    border: 2px solid #6ab04c;
    padding: 20px;
  }
  .pos_fixed{
    display: inline-block;
    border: 1px solid #22a6b3;
    color: #e056fd;
    height: 60px;
    width: 60px;
    text-align: center;
    line-height: 60px;
    border-radius: 7px;
    background-Color: #f6e58d;
  }
  #three{
    position: fixed;
    bottom: 100px;
    right: 100px;
  } 