
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    max-width: 1440px;
    margin: auto;
  }
  h1{
    text-align: center;
    margin-top: 20px;
    color: #B53471;
  }
  .container{
    width: 400px;
    height: 400px;
    background-color: #FFC312;
    display: flex;
    gap: 20px;
    margin: 100px;
  }
  .box{
    position: relative;
    width: 120px;
    height: 120px;
    font-size: 25px;
    line-height: 100px;
    text-align: center;
  }
  #item1 {
    position: absolute;
    top: 95px;
    left: 150px;
    background-color: #C4E538;
    z-index: 2;
  }
  #item2 {
    position: absolute;
    top: 180px;
    left: 230px;
    background-color: #e056fd;
    z-index: 1;
  }
  
#item3 {
    position: absolute;
    top: 80px;
    left: 520px;
    background-color: #12CBC4;
    z-index: -1;
  }